@import '../../styles/variables.scss';

.listProjects {
  position: relative;
  display: flex;
  flex-wrap: wrap;

  @include mobile-only {
    flex-direction: column;
  }
}

.right {
  margin-left: 5em;

  @include mobile-only {
    margin-left: 0;
  }
}

.item {
  margin-bottom: 6em;

  &:hover {
    img {
      opacity: .8;
      transform: scale(1.01);
    }
  }

  a {
    text-decoration: none;
  }

  img {
    margin-bottom: 8px;
    transition: all .1s ease-in;

    @include mobile-only {
      max-width: 100%;
    }
  }

  h3 {
    display: inline;
    font-weight: lighter;
    color: #666;
    text-transform: uppercase;
    font-size: .8rem;
  }

  i {
    margin-left: 1em;
    font-size: .8rem;
  }

  p {
    margin-top: 4px;
    font-weight: 500;
  }
}