@import '../../styles/variables.scss';

.wrapper {
  width: 60%;
  margin: 0 auto;
}

.listProjects {
  position: relative;
  display: flex;
  flex-wrap: wrap;

  // @include mobile-only {
  //   flex-direction: column;
  // }
}

.right {
  margin-left: 5em;

  // @include mobile-only {
  //   margin-left: 0;
  // }
}

.item {
  margin-bottom: 6em;

  &:hover {
    img {
      opacity: .8;
      transform: scale(1.01);
    }
  }

  a {
    text-decoration: none;
  }

  img {
    transition: all .1s ease-in;

    // @include mobile-only {
    //   max-width: 100%;
    // }
  }

  h3 {
    display: inline;
    font-weight: lighter;
    color: #666;
    text-transform: uppercase;
    font-size: .8rem;
  }

  i {
    margin-left: 10px;
    font-size: .8rem;
  }

  p {
    font-weight: 500;
  }
}