@import '../../styles/variables.scss';

.icon {
  display: none;

  @include mobile-only {
    cursor: pointer;
    display: block;
    font-size: 1.3rem;
    margin-bottom: 1rem;
  }
}

.menu {
  position: fixed;
  top: 95%;
  transform: translateY(-95%);

  @include mobile-only {
    bottom: 0;
    top: auto;
    transform: none;
    width: 100%;
    z-index: 100;
    background: #fff;
    box-shadow: -5px -5px 10px 0 rgba(0, 0, 0, 0.1);
    padding: 1em 0 0;
    text-align: center;
    height: 60px;
    transition: all 0.2s ease;
  }

  ul {
    text-transform: lowercase;
    list-style: none;

    li {
      a {
        text-decoration: none;
        display: block;
        margin: 0 0 0.8em 36px;
        padding: 4px 12px;
        border-left: 4px solid #fff;
        font-weight: 300;

        &.active {
          // border-color: $default-color;
          font-weight: 400;
        }

        &.cta {
          background: #212121;
          color: #fff;
          font-weight: bold;
        }

        @include mobile-only {
          border: none;
          margin-left: 0;
          margin-bottom: 10px;
        }
      }
    }
  }
}

.opened {
  @include mobile-only {
    height: 360px;
  }
}
