@import '../../styles/variables.scss';

.wrapper {
  margin: 120px auto 100px;
  width: 90%;
}

.blogHome {
  background: #F8F8F8;
  width: 100vw;
  min-height: 100%; 
  position: absolute;

  header {
    margin-bottom: 64px;
  }

  .title {
    display: block;
    text-transform: uppercase;
    text-align: center;
    font-size: 3rem;

    @include mobile-only {
      font-size: 2.3em;
    }
  }

  .subTitle {
    display: block;
    text-align: center;
    font-size: 1.1rem;
    margin-top: 24px;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
  }
}

.list {
  display: flex;
  align-items: center;
  flex-direction: column;

  @include mobile-only {
    flex-direction: column;
    align-items: center;
  }

  a {
    display: block;
    text-decoration: none;
  }
}

.card {
  width: 648px;
  background: #FFF;
  transition: all ease-in .2s;
  cursor: pointer;
  margin-bottom: 16px;

  &:hover {
    box-shadow: 0 0 40px rgba(0,0,0,.05);
  }

  @include mobile-only {
    width: 80vw;
  }

  .content {
    margin: 24px;

    .category {
      color: #84450C;
      opacity: .8;
      text-transform: uppercase;
      letter-spacing: 2px;
      display: block;
      width: 100%;
      text-align: center;
      margin: 16px 0;
      font-size: .85rem;
    }

    h4 {
      margin-bottom: 2px;
      opacity: .9;
      font-size: 1.15rem;
    }

    p {
      font-size: .95rem;
      font-weight: 400;
      opacity: .7;
    }

    footer {
      display: flex;
      justify-content: space-between;
      font-size: .8rem;
      opacity: .6;
      margin-top: 16px;

      .readTime {
        i {
          display: inline-block;
          width: 10px;
          height: 15px;
          margin-left: 1em;
          font-size: .8rem;
        }
      }
    }
  }
}
