@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Lato:300,400,500|Source+Serif+Pro:ital,wght@1,600&display=swap');
@import './variables.scss';

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: 0;
  box-sizing: border-box;
}

::selection {
  background: rgba(0,0,0,.2);
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: $default-color;
  scroll-behavior: smooth;
  line-height: 1.6;
}

a {
  color: inherit;
  font-weight: 300;
  transition: all ease .2s;
}

a.active {
  font-weight: 400;
  border-color: $default-color;
  opacity: 1;
}

h1, h2 {
  opacity: .85;
  font-weight: lighter;
  font-family: 'Fjalla One', sans-serif;
}

h3 {
  display: inline;
  font-weight: lighter;
  color: #666;
  text-transform: uppercase;
  font-size: .8rem;
}

h1 {
  position: relative;
  display: inline;
  font-size: 3.5vw;

  @include mobile-only {
    font-size: 7vw;
  }
}

h2 {
  position: relative;
  font-size: 2.6vw;
}

.container {
  display: grid;
  grid-template-columns: 2fr 5fr;
  grid-template-rows: 4fr auto;
  grid-template-areas: 
    "logo content"
  ;

  @include mobile-only {
    display: flex;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: none;
  }
}

.content {
  width: 90%;

  @include mobile-only {
    width: 100%;
  }
}

.page {
  min-height: 100vh;
  padding: 10em 0 0;
  animation: moveUp ease-in-out 1s, fadeIn ease 1s;

  @include mobile-only {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 7em 1em 0;

    &:first-child {
      padding-top: 0;
    }
  }
}

.deckgo-highlight-code-carbon {
  margin: 48px;
}

@keyframes moveUp {
  0% {
    margin-top: 30px;
  }

  100% {
    margin-top: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}