@import '../../styles/variables.scss';

.titleWrapper {
  display: block;
  margin-bottom: 10em;

  @include mobile-only {
    margin-bottom: 7em;
  }
}

.title {
  position: relative;
  display: inline;
}

.title span:after {
  position: absolute;
  content: '';
  width: 45%;
  border-bottom: 2px solid #E7E7E7;
  bottom: -50px;
  left: 0;
}