.wrapper {
  width: 50%;
  margin: 0 auto;
}

.about {
  background-color: #F1F0EA;
  padding-bottom: 64px;

  .block {
    margin-bottom: 64px;

    h2 {
      opacity: .6;
      text-transform: uppercase;
      font-size: .85rem;
      font-weight: 400;
      margin-bottom: 8px;
    }

    .title {
      font-weight: 600;
      margin-bottom: 8px;
    }
  }
}