@import '../../styles/variables.scss';

.wrapper {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 100px calc(100vh - 100px);
}

.home {
  background: $black;
  color: $white;
  height: 100vh;
  display: grid;

  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .menu {
    display: flex;
    align-items: center;
    font-family: 'Header', sans-serif;

    ul {
      list-style: none;
      
      li {
        display: inline;

        a {
          padding: 20px;
          opacity: .7;
          text-transform: uppercase;
          cursor: pointer;

          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }

  main {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;

    .subjects {
      font-family: 'Header', sans-serif;
      font-weight: 400;
      list-style: none;
      font-size: 1.3rem;
      margin: 48px 0 120px;

      li {
        display: inline;
        margin-right: 24px;
        opacity: .3;
        text-transform: uppercase;
      }
    }
  }

  .bottomLine {
    width: 40%;
    height: 12px;
    background: $yellow;position: absolute;
    bottom: 0;
  }
}