@import '../../styles/variables.scss';

.contact {

  ul {
    list-style: none;
    
    li {
      display: inline;
      
      a {
        font-size: 1.3rem;
        font-weight: 500;
        text-decoration: none;
        padding-right: 2em;

        @include mobile-only {
          font-size: 3.5vw;
        }
        
      }
    }
  }
}