@import '../../styles/default.scss';

.topBarWrapper {
  position: fixed;
  width: 100%;

  @include mobile-only {
    z-index: 100;
    background: #FFF;
  }
}

.logo {
  animation: fadeIn ease 2s;
}

.topBar {
  padding: 4em;
  display: flex;
  justify-content: space-between;

  @include mobile-only {
    justify-content: center;
    padding: 1em 0;
    box-shadow: 0 0 15px 0 rgba(0,0,0,.1);
  }
}
