@import '../../styles/variables.scss';

.wrapper {
  margin: 0 auto;
  width: 70%;

  @include mobile-only {
    width: 80%;
  }
}

.cover {
  width: 100%;
  max-height: 280px;
  overflow: hidden;
  position: relative;

  img {
    width: 100%;
  }
}

.credits {
  display: block;
  color: #AAA;
  font-size: .75rem;
  background: none;
  text-align: right;
  margin: 4px;
  font-style: italic;
}

.post {
  position: relative;
  opacity: 0;
  right: -50px;

  .top {
    margin: 80px 0 36px;
    opacity: .7;
    font-size: .9rem;

    @include mobile-only {
      margin: 36px 0 48px;
    }

    a { 
      text-decoration: none;

      &:hover {
        svg {
          margin-right: 12px;
        }
      }

      svg {
        transition: all ease .2s;
        margin-right: 18px;
      }
    }
  }

  h1 {
    text-transform: uppercase;
    font-size: 3rem;
    line-height: 1.2;

    @include mobile-only {
      font-size: 2rem;
    }
  }

  .meta {
    display: flex;
    flex-direction: row;
    margin-top: 12px;
    opacity: .6;
    font-size: .9rem;

    @include mobile-only {
      flex-direction: column;
    }
    
    span {
      margin-right: 24px;
    }

    svg {
      margin-right: 8px;
    }
  }

  .content {
    max-width: 800px;
    margin: 64px auto;
    color: #333;
    font-size: 1.1rem;
    font-weight: 400;

    @include mobile-only {
      width: 100%;
      margin:  24px 0 64px 0;
    }
    

    h2 {
      font-size: 1.5rem;
      margin: 42px 0 8px;
    }

    .quotes {
      display: grid;
      grid-template-columns: 1;
      grid-template-rows: repeat(auto);
      font-family: 'Source Serif Pro';
      font-weight: normal;
      font-style: italic;
      font-size: 1.3rem;
      line-height: 1.2;
      cursor: default;

      .quote {
        margin-top: 48px;
        display: flex;
        
        span {
          opacity: .6;
          transition: ease .2s all;

          &:hover {
            opacity: .8;
          }
        }
      }

      svg {
        margin: 0 12px 0 0;
      }
    }

    p {
      margin-bottom: 18px;

      strong {
        font-weight: 600;
      }
    }
  }
}